<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <form action="{{ url_for('login') }}" method="post">
           <label for="fname">Login</label>
        <label for="fname">Gmail:</label>
           <input type="email" name="gmail" required></br></br>
        <label for="fname">Password:</label>
			<input type="text" name="password" required></br></br>
            <input type="submit" name="Submit" value="Submit">
        <div class="msg">{{ message }}</div>



</head>
<body>

</body>
</html>