<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <form action="{{ url_for('Reset') }}" method="post">
           <label for="fname">Account</label>
        <label for="fname">Gmail:</label>
           <input type="email" name="gmail" required></br></br>
        <label for="fname">Send gmail token:</label>
            <input type="submit" name="Submit" value="Submit">
        <div>
            <label for="fname">{{ message }}</label>

        </div>
</head>
<body>

</body>
</html>