<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="/" method="post">
           <label for="fname">Nhập Năm:</label><br>
           <input type="text" name="Year">
            <input type="submit" name="Submit" value="Submit">

    <div id="Done" style="display:{{ DisplayCheck }}">
<h1>Kết quả, {{ Year }}</h1>
<h1>Là, {{ Check }}</h1>
</div>
        <div id="Erorr" style="display:{{ DisplayError }}">
<h1>Error</h1>
</div>
           </form>

</body>
</html>