<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <form action="/uploaded_file" method="post" enctype="multipart/form-data">
           <label for="fname">Nhập file ở đây:</label><br>
           <input type="file" name="file">
            <input type="submit" name="Submit" value="Submit">

<h1>Uploaded files and saved on server:</h1>

<ul>
{% for List in dir_list %}
  <li><a href="{{ url_for('download', filename=List) }}">{{ List }}</a></li>
{% endfor %}
</ul>

</head>
<body>

</body>
</html>